@model MvcSiteMapProvider.Web.Html.Models.SiteMapHelperModel
@using System.Web.Mvc.Html
@using MvcSiteMapProvider.Web.Html.Models

<ul class="siteMap">
    @foreach (var node in Model.Nodes) {
        if (node.IsRootNode)
        {
            foreach (var menu in node.Children)
            {
                <li>@Html.DisplayFor(m => menu) 
                    @if (menu.IsInCurrentPath || menu.IsCurrentNode)
                    {
                        if (menu.Children.Any())
                        {
                            @Html.DisplayFor(m => menu.Children)
                        }
                    }
                    else
                    {
                        foreach (var child in menu.Children)
                        {
                            @Html.DisplayFor(m => child)
                        }
                    }
                </li>
            }
        }
    }
</ul>